.el-switch {
  margin-left: 40px;
  &.is-checked {
    .el-switch__core {
      background-color: $main-color !important;
      border-color: $main-color !important;
    }
  }
  span {
    background: $main-color;
    border: 1px solid $main-color;
    &:after {
      background-color: #0057FF;
    }
  }
}
.slick-slider {
  .slick-track {
    margin-left: 0;
  }
  .slick-slide {
    width: auto !important;
    margin-right: 20px;
  }
  .slick-arrow {
    &.slick-next {
      width: 36px;
      height: 36px;
      background: #94B3E2;
      box-shadow: 4px 4px 18px -2px rgba(71, 142, 247, 0.15);
      border-radius: 50%;
      i {
        position: absolute;
        right: 13px;
        top: 11px;
      }
      &:before {
        display: none;
      }
    }
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  outline: none;
  border: none;
  transition: all .3s;
  line-height: 46px;
  min-width: 234px;
  width: 100%;
  border-radius: 4px;

  &.btn-red {
    background-color: $red;
    color: #FFFFFF;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
    i {
      margin-right: 8px;
    }
  }
  &.btn-transparent {
    background-color: transparent;
    color: $blue;
    border: 1px solid $blue;
    i {
      margin-right: 8px;
      svg {
        stroke: $blue;
      }
    }
    &:hover {
      background-color: $blue;
      color: #FFFFFF;
      i {
        margin-right: 8px;
        svg {
          stroke: #FFFFFF;
        }
      }
    }
    i {
      svg {
        stroke: $blue;
      }
    }
  }
}
